# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Django
*.log
*.pot
*.pyc
local_settings.py
db.sqlite3
db.sqlite3-journal
media
static/
staticfiles/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store

# Testing
.coverage
htmlcov/
.tox/
.nox/
.hypothesis/
.pytest_cache/
nosetests.xml
coverage.xml

# Spotify credentials
spotify_credentials.json

# Migration files (optional)
# */migrations/*.py
# !*/migrations/__init__.py

# Jupyter Notebook
.ipynb_checkpoints

# Front-end
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log